{% extends 'base.html.twig' %}

{% block title %}Connexion à Votre Compte Client - Accédez à Vos Projets et Factures - Homerenov91{% endblock %}

{% block head %}
    <meta name="description" content="Connectez-vous pour accéder à votre espace personnel. Gérez vos projets, demandez des devis et suivez l'avancement de vos travaux en temps réel.">
{% endblock %}

{% block body %}
    <div class="container-connexion">
        <div class="form-connexion">
            <div class="header-connexion">
                <i class="fas fa-user-circle icon-connexion"></i>
                <h2>Connexion</h2>
            </div>
            <form method="post" action="{{ path('app_login') }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="form-group mb-3 password">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email" placeholder="Adresse email" class="form-control" required autofocus>
                </div>

                <div class="form-group mb-3 password">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Mot de passe" class="form-control" required>
                </div>

                <div class="form-group password">
                    <button type="submit" class="btn btn-primary w-100 connexion">Se connecter</button>
                </div>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </form>

            <div class="text-center inscrivez-vous">
                <a href="{{ path('app_register') }}">Pas encore de compte ? Inscrivez-vous ici</a>
            </div>
            <div class="text-center mt-3">
                <a href="{{ path('app_forgot_password') }}">Mot de passe oublié ?</a> <!-- Lien vers le processus de récupération -->
            </div>
        </div>
    </div>
{% endblock %}
