{% extends 'base.html.twig' %}

{% block title %}Nos Realisations{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center nos-realisations">Nos réalisations</h1>

    <section class="realisation-presentation mt-5 text-center">
        <p>
            Découvrez nos chantiers récents où nous avons transformé des espaces avec passion et expertise.
            Chaque projet reflète notre engagement envers la qualité et le souci du détail.
            Nos réalisations illustrent notre capacité à répondre aux besoins variés de nos clients avec des solutions sur mesure.
        </p>
    </section>

    {# Affiche le bouton uniquement si l'utilisateur a le rôle d'administrateur #}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center mb-5">
            <a href="{{ path('admin_chantier_new') }}" class="btn btn-success">Ajouter un Nouveau Chantier</a>
        </div>
    {% endif %}

    <div class="container my-5">
        <div class="row">
            {% for chantier in chantiers %}
                <div class="col-md-4 mb-4">
                    <div class="card-realisations">
                        {% if chantier.images|length > 0 %}
                            <img src="{{ asset(chantier.images[0]) }}" class="card-img-realisations" alt="Image du chantier">
                        {% else %}
                            <img src="{{ asset('images/default.jpg') }}" class="card-img-realisations" alt="Image par défaut">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title-realisations">{{ chantier.nom }}</h5>
                            <p class="card-text-realisations">
                                {{ chantier.description|slice(0, 100)|nl2br }}...
                            </p>
                            <a href="{{ path('chantier_show', {id: chantier.id}) }}" class="btn btn-primary btn-chantier">+ sur ce chantier</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucun chantier disponible pour le moment.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
