{% extends 'base.html.twig' %}

{% block title %}Espace client{% endblock %}

{% block body %}
<div class="container my-5 back">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">
            <h2>Bienvenue, {{ user.prenom }} {{ user.nom }}</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-3">Vos informations personnelles :</h5>
                    <p><strong>Email :</strong> {{ user.email }}</p>
                    <p><strong>Date de naissance :</strong> {{ user.dateNaissance|date('d/m/Y') }}</p>
                    <p><strong>Téléphone :</strong> {{ user.telephone }}</p>
                    <p><strong>Adresse :</strong> {{ user.adressePostale }}</p>
                </div>
                <div class="col-md-6">
                    <h5 class="mb-3">Actions :</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="btn btn-outline-primary btn-block mb-2">Demander une facture</a></li>
                        <li><a href="#" class="btn btn-outline-success btn-block mb-2">Demander un rendez-vous</a></li>
                        <li><a href="#" class="btn btn-outline-info btn-block mb-2">Consulter vos factures</a></li>
                        <li><a href="#" class="btn btn-outline-warning btn-block mb-2">Consulter vos devis</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
        </div>
    </div>
</div>
{% endblock %}

